{% extends "cross_site/base.html" %}
{% load url from future %}

{% block body %}
    <div class="container">
        <div class="span12" >
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    <div></div>
{% endblock body %}