{% load staticfiles %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <title>Cross site</title>
    <link rel="icon" href="/static/favicon.ico" type="x-icon" /> 
    <link rel="shortcut icon" href="/static/favicon.ico" type="x-icon" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="Content-Language" value="ru-RU" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/master.css" %}">
</head>
<body>
{% endblock head %}
{% block body %}
{% endblock body %}

{% block js %}
    <script src="{% static "jQuery/jquery-2.0.2.js" %}"></script>
    <script src="{% static "angular-1.2.3/angular.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% endblock js %}

{% block footer %}
</body>
</html>
{% endblock footer %}