{% extends "cross_site/base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock head %}


{% block body %}
    {% block ng %}
    <div>
    <div>
    {% endblock ng %}
    <!-- <div class="row-fluid"> -->
    <div class="container">
        <div class="span12" name="header">
            <div class="row-fluid">
                {% block header %}
                    <div>Body cross site</div>
                {% endblock header %}
            </div>
            <div class="row">
                <div class="span8" name="chields">
                    {% block chields %}
                        <div>chields cross site</div>
                    {% endblock chields %}
                </div>
                <div class="span2" name="parents">
                    {% block parents %}
                        <div>parents cross site</div>
                    {% endblock parents %}
                </div>
                <div class="span2" name="chains">
                    {% block chains %}
                        <div>chains cross site</div>
                    {% endblock chains %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock body %}

{% block js %}
    {{ block.super }}
{% endblock js %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}