{% extends "cross_app/base.html" %}
{% load staticfiles %}

{% block ng %}
    <div ng-app='cross_app_ng'>
    <div ng-controller='cross_app_ng_controller'>
    <br>
    <br>
{% endblock ng %}

{% block header %}
    <div class="span8">
        <input ng-model='input_cross_app.text' class="input-block-level" 
                type="text" placeholder="Введите имя элемента" autofocus> <!-- autofocus -->
    </div>
    <div class="span1">
    	<span id="succesful_input" hidden="true" class="validate"><i class="icon-ok-sign"></i></span>
        <span id="wrong_input" hidden class="validate" ><i class="icon-remove" ></i></span>
        <span id="process_input" class="validate"><i class="icon-edit"></i></span>
    </div>
{% endblock header %}


{% block chields %}
    <div class="row">
        <div class="span8 offset=2">
            <!-- table - fill all -> not implemented -->
            <div ng-repeat='element in chields_elements'>
            <!-- <li ng-repeat='element in chields_elements'> -->
                 <button name=ng-click="chield($index)">{[{ element.name }]}</button>
                <!-- <a href='/student/view/{{student.id}}'>{{student.name}}</a>
            </li> -->
            </div>
        </div>
    </div>
{% endblock chields %}

{% block parents %}
    <div class="row">
        <div class="span8 offset=2">
            <div ng-repeat='element in parents_elements'>
                 <button name=ng-click="parent($index)">{[{ element.name }]}</button>
            </div>
        </div>
    </div>
{% endblock parents %}

{% block chains %}
    <div class="row">
        <div class="span8 offset=2">
            <div ng-repeat='element in chains_elements'>
                 <button name=ng-click="chain($index)">{[{ element.name }]}</button>
            </div>
        </div>
    </div>
{% endblock chains %}



<{% block js %}
	{{ block.super }}
    <script src="{% static "js/ang.js" %}"></script>
{% endblock js %}